<!DOCTYPE html>

<html>

<head>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
      {{>header}}

      <p>Use this site to get your weather</p>

      <form class="form_address">
        <input name="location" placeholder="Location"/>
        <button>Search</button>
      </form>

      <div><h4>Found Location:</h4><p id="place_name"></p></div>
      <div><h4>Summary:</h4><p id="current_summary"></p></div>
      <div><h4>Temperature:</h4><p id="temperature"></p></div>
  </div>
  {{>footer}}

  <script src="/js/app.js"></script>
</body>


</html>
